.menu-list-item {
    width: 100%;
}


.menu-item-image-box {
    position: absolute;
    width: 80px;
    height: 100%;
    max-height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    border-color: #e88f2a;
    border-width: 2px;
    border-style: solid;
    border: 2x solid #e88f2a;
}



.orders-header {
    max-height: 170px;
    padding-top: 41px;
}

.section-intro-title.subtitle.smaler {
    font-size: 12px;
}

.section-intro-title.subtitle {
    
    margin-bottom: 6px;
}



/* .order-date {
    padding-top: 18px;
    border-top: 1px;
    border-top-style: dashed;
    border-color: #e88f2a;
} */
.order-content {
    padding-top: 10px;
}


.order-divider {
    margin: 16px auto;
}

.order-list {
    padding-right: 10px;
}

.order-title  {

    
}

.order-edit-button {
    position: absolute;
    right: 10px;
    padding: 0px 20px;
    margin-top: 0px;
    font-size: 12px;
    line-height: 31px;
}


/* .order-edit-button {
    right: 10px;
    padding: 0px 20px;
    display: inline-block;
    float: right;
    position: relative;
    font-size: 12px;
    margin-bottom: -22px;
    line-height: 31px;
    top: -33px;
} */







.order-confirm-button {
    margin-top: 5px;
}


.menu-item-label {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-bottom: 7px;
    margin-top: 6px;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 3px;
    background-color: #e88f2a;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}

.menu-item-amount {
    margin-right: 120px;
        /* margin-right: 10px; */
}

/* .menu-item-special {
    width: 110px;
}

.menu-item-weight {
    margin-right: 40px;
} */

/* .order-button {
    margin: 10px;
    color: #000;
    background-color: #faf3eb;
    cursor: pointer;
} */

/* .button-amount {
    cursor: context-menu;
} */

/* .button-amount:hover {
    margin: 10px;
    color: #000;
    background-color: #faf3eb;
} */


 /* .amount-button-label {
    display: inline-block;
} */

/* .dishes-amout {
    max-width: 35px;
} */



.menu-item-text.order-item{
    display: block;
    margin-top: 0px;
    margin-left: 90px;
    width: auto;

}

.menu-item-title.order-title {
    margin-top: 6px;
    margin-right: 8px;
    float: left;
    color: #333;
 }

.menu-item-title.description.order-description{
    margin-top: 5px;
    float: left;
    color: #9e9e9e;
    width: 100%;
    margin-right: 10px;
 }

 .total-price {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    /* float: right; */
    font-family: Merriweather, serif;
    color: #333333;
    font-size: 14px;
    /* font-style: italic; */
    font-weight: 700;
 }

.total-price.waiting-payment {
    margin-bottom: 0px;
    /* position: contents; */
    /* right: 20px;
    margin-top: -25px; */
}

.section-intro-title.subtitle.order-status {
    /* margin-bottom: 30px; */
}

.order-status {
    margin-bottom: 0px;
}

.last-order-status {
    margin-bottom: 40px !important;
}

.white-background{
    background-color: white;
}

.w-input, .w-select .white-background{
    color: #333333;
    vertical-align: middle;
    background-color: #faf3eb;
    border: 1px solid #cccccc;
    
}


.section.menu-page-section {
    padding-bottom: 15px;
}

.last-padding{
    padding-bottom: 40px;

}

.error-message {
    font-family: Satisfy, sans-serif;
    text-align: center;
    color: #eda03b;
    font-size: 22px;
    line-height: 22px;
    text-shadow: none;
    padding: 35px 40px 20px 40px;
  }

  /* .error-message .no-orders {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 20px;
    text-shadow: none;

  } */


  /* .section.error-message {
    padding: 20px, 10px !important;
  } */

@media screen and (max-width:991px) {


}




@media screen and (max-width:767px) {
    /* .total-price.waiting-payment {
        position: relative;
    } */

}

@media screen and (max-width:479px) {

    .menu-item-image-box {
        max-height: 50px;
    }

    .order-edit-button {
        position: relative;
        right: 0px;
        /* margin-top: 16px; */
    }
    .menu-item-amount {
        margin-right: 10px;

    }
    .menu-item-title.description.order-description{
        margin-top: 0px;
        /* width: 100%;
        margin-left: -88px; */
     }

     
    .order-list {
        padding-right: 0px;
    }
    
}
 