
.order-info-box {
  width: 50%;
}


.dish-item-label {
  margin: 10px 5px 3px 5px;
  font-family: Satisfy, sans-serif;
  color: #eda03b;
  font-size: 13px;
  line-height: 14px;
  text-shadow: none;
}

.dish-item-label.dish-item-description{
  height: 80%;
}

.dish-item-label.dish-item-weight{
  margin-top: -17px;
  padding-left: 50%;
}

/* .dish-price{
  margin-bottom: 0px;
}


.dish-weight{
  margin-bottom: 0px;
} */

.category{
  margin: 20px 2px;
  width: 100%;
}

.field.area {
  height: 60px;
}

.field {
  height: 35px;
}

.user-age-label {
    display: inline-flex;
    font-weight: inherit;
    margin-top: 0px;
}

.w-select.user-age {
    display: inline-flex;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -8px;
  }

  .reservation-image-block {
    height: 368px;
  }

  .upload-picture{
      margin-top: 15px;
  }

  .error-message {
    margin-top: 15px;
    font-family: Satisfy, sans-serif;
    color: #eda03b;
    font-size: 13px;
    line-height: 16px;
    text-shadow: none;
  }

  @media screen and (max-width: 991px) {
    .reservation-image-block {
        height: 338px;
    }
    .dish-item-label.dish-item-name{
      margin-top: 30px;
    }


  }

  @media screen and (max-width:767px) {
    .dish-item-label.dish-item-weight{
      margin-top: 50px;
      padding-left: 0;
    }
  }