


.menu-hidden-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
}


@media screen and (max-width:479px) {
  .menu-hidden-input {
    width: 100%;
    border-radius: 3px;
}
}



.menu-item-image-box {
    position: absolute;
    width: 80px;
    height: 100%;
    max-height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    border-color: #e88f2a;
    border-width: 2px;
    border-style: solid;
    border: 2x solid #e88f2a;
}

.menu-item-text{
    position: relative;
    margin-left: 87px;
}


.order-icon-container {
    position: absolute;
    top: 36px;
    right: 37px;
    display: inline-block;
    width: 30px;
    float: none;
}

  .button.order-menu-button {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 56px;
    height: 24px;
    padding: 4px 5px;
    border-radius: 3px;
    line-height: 40px;
    line-height: 16px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
  }



  .menu-item-title.weight {
    display: inline-block;
    margin-right: 10px;
    /* font-family: 'Droid Sans', sans-serif; */
    font-family: Merriweather, serif;
    color: #333333;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    float: right;
  }
/* .menu-item-image {
    max-width: 100%;
    max-height: 150px;
    display: block;
    margin: 0 auto;
} */

/* .menu-item-amount {
    position: absolute;
    top: 3px;
    right: 24px;
    display: inline-block;
    margin-top: 9px;
    padding-right: 9px;
    padding-left: 9px;
    float: none;
    border-radius: 3px;
    background-color: #e88f2a;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 24px;
    font-weight: 700;
  } */

  /* .booking-select-container {
  position: absolute;
  /* top: 3px; */
  /* right: 24px; */
  /* display: inline-block; */
  /* margin-top: 9px;
  padding-right: 9px;
  padding-left: 9px; 
  float: none;
  border-radius: 3px;
  background-color: #e88f2a;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 24px;
  font-weight: 700;
}*/

/* .booking-checkbox-container {
    display: inline-flex;
}

.booking-list-label {
    display: inline-flex;
    font-weight: inherit;
    margin-top: 5px;
}

.w-select.booking-list {
    display: inline-flex;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -8px;
  } */ 

  @media screen and (max-width:991px) {

    .button.order-menu-button {

      right: 4px;

      
    }

}




@media screen and (max-width:767px) {
  .button.order-menu-button {

    right: -6px;

    
  }

}

@media screen and (max-width:479px) {


  .button.order-menu-button {

    right: 0px;
    margin-top: 10px;
    
  }  
}