.menu-page-tab-button {
  position: relative;
  width: 19%;
  height: 80px;
  padding-top: 19px;
  padding-left: 58px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
}

.menu-page-tabs-menu{
  margin-top: -80px;
}

.menu-hidden-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
}

.menu-item-image-box {
    position: absolute;
    width: 80px;
    height: 100%;
    max-height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    border-color: #e88f2a;
    border-width: 2px;
    border-style: solid;
    border: 2x solid #e88f2a;
}

.menu-item-text{
    position: relative;
    margin-left: 87px;
}

.order-icon-container {
    position: absolute;
    top: 36px;
    right: 37px;
    display: inline-block;
    width: 30px;
    float: none;
}

  .button.order-menu-button {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 56px;
    height: 24px;
    padding: 4px 5px;
    border-radius: 3px;
    line-height: 40px;
    line-height: 16px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
  }

  .menu-item-title.weight {
    display: inline-block;
    margin-right: 10px;
    /* font-family: 'Droid Sans', sans-serif; */
    font-family: Merriweather, serif;
    color: #333333;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    float: right;
  }
  

  .menu-page-tab-title.subtitle.sort-menu-by {
    color: #333;
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  @media (max-width: 1110px){
   .menu-page-tabs-menu {
    margin-top: -120px;
  }
  .menu-page-tab-button {
    height: 120px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
  .menu-page-tab-title.subtitle {
    margin-top: 4px;
    font-size: 10px;
  }
  .menu-tab-icon {
    position: static;
    float: none;
  }
  .menu-page-tab-pane {
    padding-top: 45px;
  }
}


  @media screen and (max-width:991px) {

    .button.order-menu-button {
      right: 4px;
    }

}




@media screen and (max-width:767px) {
  
  .button.order-menu-button {
    right: -6px;
  }

  .sort-menu-by {
    position: relative;
    transform: none;
    top: -19px;
    left: 50px;

  }

  .menu-page-tabs-menu {
    margin-top: -55px;
  }
  .menu-page-tab-button {
    display: block;
    width: 100%;
    height: 55px;
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #534d47;
    background-color: #3d3833;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    text-align: left;
  }
  .menu-page-tab-button:hover {
    background-color: #e88f2a;
    color: #fff;
  }
  .menu-page-tab-title {
    font-size: 15px;
    line-height: 13px;
  }
  .menu-tab-icon {
    height: 26px;
    margin-right: 14px;
    float: left;
  }
  .menu-page-tab-pane {
    padding-top: 25px;
  }
}


@media screen and (max-width:479px) {

  .menu-hidden-input {
    width: 100%;
    border-radius: 3px;
}

  .button.order-menu-button {
    right: 0px;
    margin-top: 10px;
  }  



}