.hidden {
    visibility: hidden; 
}

.order-info  {
    position: fixed;
    top: 0; 
    width: 100%;
    height: 100%;
    z-index: 100;

}

.order-info-container {  
    display: flex;  
    position: relative;  
    width: 100%;
    height: 100%;
}


 .order-info-box {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    padding: 8px;
    transform: translate(-79%, -50%);
    background-color: rgba(61, 56, 51, 0.9);   
    border-radius: 4px;
    z-index: 110;
}


.close-icon {
    width: 20px;
    position: absolute;
    right: 18px;
    top: 20px;
    cursor: pointer;
}

.close-icon:hover {
    transform: rotate(90deg);
}



.menu-item-label {
    position:relative;
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-bottom: 7px;
    margin-top: 10px;
    padding-right: 9px;
    padding-left: 9px;
    width: 70px;
    border-radius: 3px;
    background-color: #e88f2a;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}

.menu-item-special {
    width: 110px;
}

.menu-item-weight {
    margin-right: 40px;
}

.order-info-buttons {
    display: flex;
    justify-content: center;
 }

.order-button {
    margin: 5px;
    padding: 4px 18px;
    color: #000;
    background-color: #faf3eb;
    cursor: pointer;
    font-size: 12px;
    line-height: 25px;
}

.button-amount {
    cursor: context-menu;
}

.button-amount:hover {
    margin: 10px;
    color: #000;
    background-color: #faf3eb;
}


 .amount-button-label {
    display: inline-block;
}

.dishes-amout {
    max-width: 35px;
    text-align: center;
}

.menu-item-text.ordering{
    display: block;
    float: left;
    width: 90%;
    margin: 10px;
    margin-top: 0px;
    margin-left: 12px;
    color: #fff;
}

.menu-item-title.ordering {
    margin-top: 6px;
    float: left;
    color: #fff;
    font-size: 20px;
 }


.menu-item-title.description.ordering{
    margin-top: 5px;
    float: left;
    color: #fff;
    font-size: medium;
    line-height: 18px
 }


 label.order-label {
    display: inline-block;
    /* float: left; */
    width: 30%;
    font-family: Oswald, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    /* font-style: ; */
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


.order-field {
    width: 70%;
    height: 32px;
    float: right;
}

.error-message {
    display: inline-block;
    /* margin-top: 15px; */
    margin: 15px auto;
    width: 100%;
    font-family: Satisfy, sans-serif;
    color: #eda03b;
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    text-shadow: none;
  }


@media screen and (max-width:991px) {

    .order-info-box {  
        width: 66%;
        left: 51%;
        transform: translate(-72%, -50%);
    }
    .menu-item-title.ordering {
        margin-top: 1px;

     }
    

}




@media screen and (max-width:767px) {
    
    .order-info-box {  
        width: 85%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    
    .menu-item-title.description.ordering{
        width: 100%;
        text-align: center;
    }

    .order-label {
        float: left;
        margin-top: -4px;
        margin-bottom: -8px;

        text-align: left !important;
        width: 100% !important;
    }

    .label.order-label {
        line-height: 40px;
        margin-top: -4px;
        margin-bottom: -8px;
        width: auto;
        text-align: left;
    }
    

    .order-field {
        width: 100%;
        /* height: 32px;
        float: right; */
    }
    

    .order-info-buttons {
        display: block;
     }

    .order-button {
        width: 100%;
        margin: 5px auto;
    }

     .button-amount:hover {
        margin: 5px auto;
    }

   .dishes-amout {
        max-width: 50px;
    }


}

@media screen and (max-width:479px) {

    .menu-item-label {
        float: left;
    }

    .menu-item-weight {
        margin-right: 10px;
    }
    
    .menu-item-price-reload {
        margin-right: 60px;
    }
}
  